body {
    background-color: #4f4f4f;
    margin: 0;
}

.header {
    display: inline-block;
    background-color: #2f2e2e;
    width: 100%;
}

.nav-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: none;
    position: relative;
    top: 10px;
}

.button {
    background-color: #2f2e2e;
    color: white;
    text-decoration: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    margin: none;
    padding: 8px 16px;
    border: 1px solid #ccc;
    white-space: pre;
}

.button:hover {
    background-color: #4f4f4f;
}

.title {
    position: relative;
    color: white;
    font-size: 40px;
    margin: 10px;
    text-align: center;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}