body {
    background-color: #4f4f4f;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    min-height: 100px;
    margin: 0;
    padding: 0;
    background-color: #2f2e2e;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    color: #ffffff;
    white-space: pre;
    max-height: 4em;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.title .icon {
    padding: 10px;
    max-height: 4em;
}

.menu {
    position: absolute;
    right: 0;
    padding: 16px;
    display: inline-block;
}

.menu .icon {
    max-height: 4em;
    border: none;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu:hover .menu-content {
    display: block;
}

.button {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.button:hover {
    background-color: #a5a5a5;
}